<a href="https://colab.research.google.com/github/soadD/netflix_data/blob/main/tabela_global_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **PROJETO FINAL - STREAMING**

Escola: SoulCode Academy

Curso: Analista de Dados e Dashboard

Assunto: Análise Netflix

Professora: Franciane Rodrigues

Alunos (as):
* Arthur Vale
* Crislane Silva
* Ewerton Lima
* Lucas Berenger
* Lidiane Dias Vicente
* Rafael Freitas

Data: 05/Junho/2024

# Preparando ambiente

Importando as bibliotecas necessárias para manipulação e análise dos dados.

In [28]:
# Instala e importa a biblioteca para verifica da integridade dos dados
!pip install pandera

Collecting pandera
  Obtaining dependency information for pandera from https://files.pythonhosted.org/packages/06/94/c32006319a68a2bdcf26e0e334837860fcd0600fc9db9eb5d9478ad08943/pandera-0.19.3-py3-none-any.whl.metadata
  Downloading pandera-0.19.3-py3-none-any.whl.metadata (15 kB)
Collecting multimethod<=1.10.0 (from pandera)
  Obtaining dependency information for multimethod<=1.10.0 from https://files.pythonhosted.org/packages/7f/bd/750245e47e7f307d9f94d4fa84727f4ed9956005dfa671d58be1d531a0f6/multimethod-1.10-py3-none-any.whl.metadata
  Downloading multimethod-1.10-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: numpy>=1.19.0 in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from pandera) (1.24.3)
Requirement already satisfied: packaging>=20.0 in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from pandera) (23.1)
Requirement already satisfied: pandas>=1.2.0 in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from pandera) (2.0.3)
Requirement already satisfied: pydantic in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from pandera) (1.10.8)
Collecting typeguard (from pandera)
  Obtaining dependency information for typeguard from https://files.pythonhosted.org/packages/eb/de/be0ba39ee73760bf33329b7c6f95bc67e96593c69c881671e312538e24bb/typeguard-4.3.0-py3-none-any.whl.metadata
  Downloading typeguard-4.3.0-py3-none-any.whl.metadata (3.7 kB)
Collecting typing-inspect>=0.6.0 (from pandera)
  Obtaining dependency information for typing-inspect>=0.6.0 from https://files.pythonhosted.org/packages/65/f3/107a22063bf27bdccf2024833d3445f4eea42b2e598abfbd46f6a63b6cb0/typing_inspect-0.9.0-py3-none-any.whl.metadata
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: wrapt in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from pandera) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from pandas>=1.2.0->pandera) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from pandas>=1.2.0->pandera) (2023.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from typing-inspect>=0.6.0->pandera) (1.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from typing-inspect>=0.6.0->pandera) (4.7.1)
Collecting typing-extensions>=3.7.4 (from typing-inspect>=0.6.0->pandera)
  Obtaining dependency information for typing-extensions>=3.7.4 from https://files.pythonhosted.org/packages/b6/53/84a859aaddfe7378a6e5820e864a2d75763e82b6fcbda1a00e92ec620bb7/typing_extensions-4.12.1-py3-none-any.whl.metadata
  Downloading typing_extensions-4.12.1-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: six>=1.5 in /Users/ewerton/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera) (1.16.0)
Downloading pandera-0.19.3-py3-none-any.whl (251 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.9/251.9 kB 3.8 MB/s eta 0:00:00 0:00:01
Downloading multimethod-1.10-py3-none-any.whl (9.9 kB)
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading typeguard-4.3.0-py3-none-any.whl (35 kB)
Downloading typing_extensions-4.12.1-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, multimethod, typing-inspect, typeguard, pandera
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.7.1
    Uninstalling typing_extensions-4.7.1:
      Successfully uninstalled typing_extensions-4.7.1
Successfully installed multimethod-1.10 pandera-0.19.3 typeguard-4.3.0 typing-extensions-4.12.1 typing-inspect-0.9.0

In [87]:
# Importa as bibliotecas necessárias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import pandera as pa

# EXTRAÇÃO

Importando os dados.

## Dataset Netflix Global

In [88]:
# Extrai os dados do arquivo CSV
df_global = pd.read_csv('neflix_global_dataset_with_gender_final.csv')

## Dataset Neflix Países

In [89]:
# Extrai os dados do arquivo excel
df_countries = pd.read_excel('all-weeks-countries.xlsx', sheet_name='Top 10')

/Users/ewerton/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

## Dataset Usuários Netflix

In [90]:
# Extrai os dados do arquivo CSV
df_users = pd.read_csv('netflix-userbase.csv')

# Transformação

# Visão geral dos dados Netflix Global

In [91]:
# Mostra todas as colunas do dataframe
df_global.columns

Index(['week', 'category', 'weekly_rank', 'show_title', 'season_title',
       'weekly_hours_viewed', 'runtime', 'weekly_views',
       'cumulative_weeks_in_top_10', 'is_staggered_launch',
       'episode_launch_details', 'gender'],
      dtype='object')

In [92]:
# Mostra um resumo conciso do dataframe
df_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   week                        6080 non-null   object
 1   category                    6080 non-null   object
 2   weekly_rank                 6080 non-null   int64
 3   show_title                  6080 non-null   object
 4   season_title                2959 non-null   object
 5   weekly_hours_viewed         6080 non-null   int64
 6   runtime                     2000 non-null   float64
 7   weekly_views                2000 non-null   float64
 8   cumulative_weeks_in_top_10  6080 non-null   int64
 9   is_staggered_launch         6080 non-null   bool
 10  episode_launch_details      78 non-null     object
 11  gender                      6080 non-null   object
dtypes: bool(1), float64(2), int64(3), object(6)
memory usage: 528.6+ KB

In [93]:
# Mostra um resumo do dataframe, com os 5 primeiros e últimos registros e total de linhas e colunas
df_global

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details,gender
0,2024-05-26,Films (English),1,Atlas,NaN,56300000,2.0000,28200000.0,1,False,NaN,"Action, Adventure, Drama"
1,2024-05-26,Films (English),2,Thelma the Unicorn,NaN,17400000,1.6333,10700000.0,2,False,NaN,"Animation, Adventure, Comedy"
2,2024-05-26,Films (English),3,Ice Age: Dawn of the Dinosaurs,NaN,15100000,1.5833,9500000.0,1,False,NaN,"Animation, Adventure, Comedy"
3,2024-05-26,Films (English),4,Mother of the Bride,NaN,14000000,1.5000,9300000.0,3,False,NaN,"Comedy, Drama, Romance"
4,2024-05-26,Films (English),5,Disturbia,NaN,14100000,1.7500,8100000.0,2,False,NaN,"Crime, Drama, Mystery"
...,...,...,...,...,...,...,...,...,...,...,...,...
6075,2021-07-04,TV (Non-English),6,Elite,Elite: Season 1,10530000,NaN,NaN,1,False,NaN,"Crime, Drama, Thriller"
6076,2021-07-04,TV (Non-English),7,Elite,Elite: Season 3,10200000,NaN,NaN,1,False,NaN,"Crime, Drama, Thriller"
6077,2021-07-04,TV (Non-English),8,Elite,Elite: Season 2,10140000,NaN,NaN,1,False,NaN,"Crime, Drama, Thriller"
6078,2021-07-04,TV (Non-English),9,Katla,Katla: Season 1,9190000,NaN,NaN,1,False,NaN,"Drama, Fantasy, Mystery"
6079,2021-07-04,TV (Non-English),10,Record of Ragnarok,Record of Ragnarok: Season 1,9140000,NaN,NaN,1,False,NaN,"Animation, Action, Adventure"

## Valores únicos

In [94]:
# Mostra os valores únicos da coluna selecionada
print(pd.unique(df_global['category']))

['Films (English)' 'Films (Non-English)' 'TV (English)' 'TV (Non-English)']

In [95]:
# Verificando se os dados são unicos na coluna selecionada
df_global['show_title'].is_unique

False

In [96]:
# Calcula o número de títulos únicos na coluna
unique_global_titles = df_global['show_title'].nunique()
print(f"Número de títulos únicos é: {unique_global_titles}")

Número de títulos únicos é: 1993

In [97]:
# Verificando se os dados são unicos na coluna selecionada
df_global['season_title'].is_unique

False

In [98]:
# Calcula o númerod de temporadas únicas na coluna
unique_global_season = df_global['season_title'].nunique()
print(f"Número de títulos únicos é: {unique_global_season}")

Número de títulos únicos é: 878

In [99]:
# Mostra os valores únicos da coluna selecionada
print(pd.unique(df_global['weekly_rank']))

[ 1  2  3  4  5  6  7  8  9 10]

In [100]:
# Mostra os valores únicos da coluna selecionadas
print(df_global['cumulative_weeks_in_top_10'].unique())

[ 1  2  3 10  5  4  6  8 11 17  7 12  9 14 16 15 13 18 22 21 25 23 20 19
 24 28 27 26 30 29]

In [101]:
# Mostra os valores únicos da coluna selecionadas
df_global['is_staggered_launch'].unique()

array([False,  True])

## Valores duplicados

In [102]:
# Mostra o número de registros (linhas)
df_global.shape[0]

6080

In [103]:
# Verifica se há linhas duplicadas
df_global.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
6075    False
6076    False
6077    False
6078    False
6079    False
Length: 6080, dtype: bool

## Valores ausentes e nulos

In [104]:
# Mostra a quantidade total de valores nulos em cada coluna do dataframe
df_global.isnull().sum()

week                             0
category                         0
weekly_rank                      0
show_title                       0
season_title                  3121
weekly_hours_viewed              0
runtime                       4080
weekly_views                  4080
cumulative_weeks_in_top_10       0
is_staggered_launch              0
episode_launch_details        6002
gender                           0
dtype: int64

In [105]:
# Verifica o percentural de valores nulos
porcentagem_nulos = (df_global.isnull().sum() / len(df_global)) * 100

print(round(porcentagem_nulos, 1))

week                           0.0
category                       0.0
weekly_rank                    0.0
show_title                     0.0
season_title                  51.3
weekly_hours_viewed            0.0
runtime                       67.1
weekly_views                  67.1
cumulative_weeks_in_top_10     0.0
is_staggered_launch            0.0
episode_launch_details        98.7
gender                         0.0
dtype: float64

In [106]:
# Faz uma cópia do dataset completo para ficar de backup
df_global_completo = df_global.copy()

# Exclui a coluna selecionda
df_global.drop(columns=['season_title', 'runtime', 'weekly_views', 'episode_launch_details'], inplace=True)
df_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   week                        6080 non-null   object
 1   category                    6080 non-null   object
 2   weekly_rank                 6080 non-null   int64
 3   show_title                  6080 non-null   object
 4   weekly_hours_viewed         6080 non-null   int64
 5   cumulative_weeks_in_top_10  6080 non-null   int64
 6   is_staggered_launch         6080 non-null   bool
 7   gender                      6080 non-null   object
dtypes: bool(1), int64(3), object(4)
memory usage: 338.6+ KB

## Tradução

In [107]:
# Renomea as colunas para tradução e padronização
df_global.rename(columns={
    'week': 'semana',
    'category': 'categoria',
    'weekly_rank': 'rank_semanal',
    'show_title': 'titulo',
    'weekly_hours_viewed': 'horas_semanais_visualizadas',
    'cumulative_weeks_in_top_10': 'semanas_acumuladas_top_10',
    'is_staggered_launch': 'lançamento_escalonado',
}, inplace=True)

df_global.head()

,semana,categoria,rank_semanal,titulo,horas_semanais_visualizadas,semanas_acumuladas_top_10,lançamento_escalonado,gender
0,2024-05-26,Films (English),1,Atlas,56300000,1,False,"Action, Adventure, Drama"
1,2024-05-26,Films (English),2,Thelma the Unicorn,17400000,2,False,"Animation, Adventure, Comedy"
2,2024-05-26,Films (English),3,Ice Age: Dawn of the Dinosaurs,15100000,1,False,"Animation, Adventure, Comedy"
3,2024-05-26,Films (English),4,Mother of the Bride,14000000,3,False,"Comedy, Drama, Romance"
4,2024-05-26,Films (English),5,Disturbia,14100000,2,False,"Crime, Drama, Mystery"

## Tipagem

In [108]:
# Convertendo o tipo de dado para datetime
df_global['semana'] = pd.to_datetime(df_global.semana)

df_global.dtypes

semana                         datetime64[ns]
categoria                              object
rank_semanal                            int64
titulo                                 object
horas_semanais_visualizadas             int64
semanas_acumuladas_top_10               int64
lançamento_escalonado                    bool
gender                                 object
dtype: object

## Novas variáveis

In [109]:
# Seleciona o dia/mês/ano da variável data
df_global['ano'] = df_global['semana'].dt.year
df_global['mes'] = df_global['semana'].dt.month

df_global.head()

,semana,categoria,rank_semanal,titulo,horas_semanais_visualizadas,semanas_acumuladas_top_10,lançamento_escalonado,gender,ano,mes
0,2024-05-26,Films (English),1,Atlas,56300000,1,False,"Action, Adventure, Drama",2024,5
1,2024-05-26,Films (English),2,Thelma the Unicorn,17400000,2,False,"Animation, Adventure, Comedy",2024,5
2,2024-05-26,Films (English),3,Ice Age: Dawn of the Dinosaurs,15100000,1,False,"Animation, Adventure, Comedy",2024,5
3,2024-05-26,Films (English),4,Mother of the Bride,14000000,3,False,"Comedy, Drama, Romance",2024,5
4,2024-05-26,Films (English),5,Disturbia,14100000,2,False,"Crime, Drama, Mystery",2024,5

In [110]:
# Cria o dicionário para fazer a correspondência de valores, conforme definido abaixo
meses = {
    1: 'janeiro',
    2: 'fevereiro',
    3: 'março',
    4: 'abril',
    5: 'maio',
    6: 'junho',
    7: 'julho',
    8: 'agosto',
    9: 'setembro',
    10: 'outubro',
    11: 'novembro',
    12: 'dezembro'
}

# Mapea todos campos da coluna, tendo como parâmetro a dicionário criado acima
df_global.mes = df_global.mes.map(meses)
df_global.mes

0        maio
1        maio
2        maio
3        maio
4        maio
        ...
6075    julho
6076    julho
6077    julho
6078    julho
6079    julho
Name: mes, Length: 6080, dtype: object

## Integridade dos dados

In [111]:
# Define schema de validação
schema = pa.DataFrameSchema({
    'semana': pa.Column(pa.DateTime),
    'categoria': pa.Column(pa.String),
    'rank_semanal': pa.Column(pa.Int),
    'titulo': pa.Column(pa.String),
    'horas_semanais_visualizadas': pa.Column(pa.Int),
    'semanas_acumuladas_top_10': pa.Column(pa.Int),
    'lançamento_escalonado': pa.Column(pa.Bool),
    'ano': pa.Column(pa.Int32),
    'mes': pa.Column(pa.String)
})

# Validar o dataframe
schema.validate(df_global)

,semana,categoria,rank_semanal,titulo,horas_semanais_visualizadas,semanas_acumuladas_top_10,lançamento_escalonado,gender,ano,mes
0,2024-05-26,Films (English),1,Atlas,56300000,1,False,"Action, Adventure, Drama",2024,maio
1,2024-05-26,Films (English),2,Thelma the Unicorn,17400000,2,False,"Animation, Adventure, Comedy",2024,maio
2,2024-05-26,Films (English),3,Ice Age: Dawn of the Dinosaurs,15100000,1,False,"Animation, Adventure, Comedy",2024,maio
3,2024-05-26,Films (English),4,Mother of the Bride,14000000,3,False,"Comedy, Drama, Romance",2024,maio
4,2024-05-26,Films (English),5,Disturbia,14100000,2,False,"Crime, Drama, Mystery",2024,maio
...,...,...,...,...,...,...,...,...,...,...
6075,2021-07-04,TV (Non-English),6,Elite,10530000,1,False,"Crime, Drama, Thriller",2021,julho
6076,2021-07-04,TV (Non-English),7,Elite,10200000,1,False,"Crime, Drama, Thriller",2021,julho
6077,2021-07-04,TV (Non-English),8,Elite,10140000,1,False,"Crime, Drama, Thriller",2021,julho
6078,2021-07-04,TV (Non-English),9,Katla,9190000,1,False,"Drama, Fantasy, Mystery",2021,julho
6079,2021-07-04,TV (Non-English),10,Record of Ragnarok,9140000,1,False,"Animation, Action, Adventure",2021,julho

## Enriquecendo o Dataset Neflix Global

### Visando enriquecer a análise extraímos alguns dados do gênero dos filmes/séries de uma outra fonte: https://www.omdbapi.com/

In [ ]:
# Extraindo os nomes de todos os títulos de filmes e séries do Netflix em uma lista
unique_show = df_global['titulo'].unique()

#### Vamos criar aqui um dicionário cujas chaves serão os títulos dos filmes e séries e os valores serão o gênero respectivo recebido da aplicação.

In [ ]:
title_gender_dict: dict = {}

for title in unique_show:
    title_gender_dict[title] = ""

#### A função abaixo permite integrar com a API do serviço WEB descrito acima. Vamos solicitar o gênero de cada título via requisição http.

In [ ]:
import requests

def get_movie_genre(api_key, title):
    url = f"http://www.omdbapi.com/?apikey={api_key}&t={title}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        if 'Genre' in data:
            return data['Genre']
        else:
            print(f"Genre not found for title: {title}")
            return ""
    else:
        print(f"Error: Unable to fetch data (status code: {response.status_code})")
        return ""

#### Após o cadastro e a integração com a aplicação (API) da fonte, foi possível extrair o gênero de cada filme

In [ ]:
# Coloque a sua chave de API com o seu atual OMDb API key
api_key = 'XXXXX'

# Solicite a informação do gênero para cada título, uma requisição por vez
for title, value in title_gender_dict.items():
    print(50*"-")
    print(f"title: {title}, value: {value}") 
    genre = get_movie_genre(api_key, title)
    print(f"The genre of '{title}' is: {genre}")
    title_gender_dict[title] = genre

In [ ]:
# Criando uma função para definir os valores de gênero por título
def categorize_gender(x):
    return title_gender_dict[x]

In [ ]:
# Criando a coluna genero com os dados recebidos via API
df_global['genero'] = df_global['titulo'].apply(categorize_gender)

In [116]:
# Criando um arquivo CSV com os dados de genero de filme/série
output_file_path = 'neflix_global_dataset_with_gender_tratado_final.csv'
df_global.to_csv(output_file_path, index=False)

In [118]:
# Lendo novamente o dataset tratado
df_global = pd.read_csv('neflix_global_dataset_with_gender_tratado_final.csv')

In [119]:
df_global.head(10)

,semana,categoria,rank_semanal,titulo,horas_semanais_visualizadas,semanas_acumuladas_top_10,lançamento_escalonado,genero,ano,mes
0,2024-05-26,Films (English),1,Atlas,56300000,1,False,"Action, Adventure, Drama",2024,maio
1,2024-05-26,Films (English),2,Thelma the Unicorn,17400000,2,False,"Animation, Adventure, Comedy",2024,maio
2,2024-05-26,Films (English),3,Ice Age: Dawn of the Dinosaurs,15100000,1,False,"Animation, Adventure, Comedy",2024,maio
3,2024-05-26,Films (English),4,Mother of the Bride,14000000,3,False,"Comedy, Drama, Romance",2024,maio
4,2024-05-26,Films (English),5,Disturbia,14100000,2,False,"Crime, Drama, Mystery",2024,maio
5,2024-05-26,Films (English),6,Sing 2,13900000,10,False,"Animation, Adventure, Comedy",2024,maio
6,2024-05-26,Films (English),7,Ice Age: Collision Course,11700000,1,False,"Animation, Adventure, Comedy",2024,maio
7,2024-05-26,Films (English),8,A Simple Favor,12200000,1,False,"Comedy, Crime, Mystery",2024,maio
8,2024-05-26,Films (English),9,Madame Web,11900000,2,False,"Action, Adventure, Sci-Fi",2024,maio
9,2024-05-26,Films (English),10,Security,5100000,3,False,"Action, Crime, Thriller",2024,maio

## Visão geral dos dados Netflix de Países

In [32]:
# Mostra todas as colunas do dataframe
df_countries.columns

Index(['country_name', 'country_iso2', 'week', 'category', 'weekly_rank',
       'show_title', 'season_title', 'cumulative_weeks_in_top_10'],
      dtype='object')

In [33]:
# Mostra um resumo conciso do dataframe
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283420 entries, 0 to 283419
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   country_name                283420 non-null  object
 1   country_iso2                283420 non-null  object
 2   week                        283420 non-null  object
 3   category                    283420 non-null  object
 4   weekly_rank                 283420 non-null  int64
 5   show_title                  283420 non-null  object
 6   season_title                138659 non-null  object
 7   cumulative_weeks_in_top_10  283420 non-null  int64
dtypes: int64(2), object(6)
memory usage: 17.3+ MB

In [34]:
# Mostra um resumo do dataframe, com os 5 primeiros e últimos registros e total de linhas e colunas
df_countries

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,2024-05-26,Films,1,Sing 2,NaN,1
1,Argentina,AR,2024-05-26,Films,2,Atlas,NaN,1
2,Argentina,AR,2024-05-26,Films,3,Ice Age: Dawn of the Dinosaurs,NaN,1
3,Argentina,AR,2024-05-26,Films,4,In Good Hands 2,NaN,1
4,Argentina,AR,2024-05-26,Films,5,Daddy Daughter Trip,NaN,2
...,...,...,...,...,...,...,...,...
283415,Vietnam,VN,2021-07-04,TV,6,Reply 1988,Reply 1988: Season 1,1
283416,Vietnam,VN,2021-07-04,TV,7,"Nevertheless,","Nevertheless,: Limited Series",1
283417,Vietnam,VN,2021-07-04,TV,8,Too Hot to Handle,Too Hot to Handle: Season 2,1
283418,Vietnam,VN,2021-07-04,TV,9,Record of Ragnarok,Record of Ragnarok: Season 1,1
283419,Vietnam,VN,2021-07-04,TV,10,Crash Landing on You,Crash Landing on You: Limited Series,1

## Valores únicos

In [31]:
# Mostra os valores únicos da coluna selecionadas
print(df_countries['country_name'].unique())

['Argentina' 'Australia' 'Austria' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Belgium' 'Bolivia' 'Brazil' 'Bulgaria' 'Canada' 'Chile' 'Colombia'
 'Costa Rica' 'Croatia' 'Cyprus' 'Czech Republic' 'Denmark'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Finland'
 'France' 'Germany' 'Greece' 'Guadeloupe' 'Guatemala' 'Honduras'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kenya' 'Kuwait' 'Latvia' 'Lebanon'
 'Lithuania' 'Luxembourg' 'Malaysia' 'Maldives' 'Malta' 'Martinique'
 'Mauritius' 'Mexico' 'Morocco' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Nigeria' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Réunion' 'Saudi Arabia' 'Serbia' 'Singapore' 'Slovakia'
 'Slovenia' 'South Africa' 'South Korea' 'Spain' 'Sri Lanka' 'Sweden'
 'Switzerland' 'Taiwan' 'Thailand' 'Trinidad and Tobago' 'Turkey'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Venezuela' 'Vietnam']

In [35]:
# Mostra os valores únicos da coluna selecionadas
print(df_countries['country_iso2'].unique())

['AR' 'AU' 'AT' 'BS' 'BH' 'BD' 'BE' 'BO' 'BR' 'BG' 'CA' 'CL' 'CO' 'CR'
 'HR' 'CY' 'CZ' 'DK' 'DO' 'EC' 'EG' 'SV' 'EE' 'FI' 'FR' 'DE' 'GR' 'GP'
 'GT' 'HN' 'HK' 'HU' 'IS' 'IN' 'ID' 'IE' 'IL' 'IT' 'JM' 'JP' 'JO' 'KE'
 'KW' 'LV' 'LB' 'LT' 'LU' 'MY' 'MV' 'MT' 'MQ' 'MU' 'MX' 'MA' 'NL' 'NC'
 'NZ' 'NI' 'NG' 'NO' 'OM' 'PK' 'PA' 'PY' 'PE' 'PH' 'PL' 'PT' 'QA' 'RO'
 'RU' 'RE' 'SA' 'RS' 'SG' 'SK' 'SI' 'ZA' 'KR' 'ES' 'LK' 'SE' 'CH' 'TW'
 'TH' 'TT' 'TR' 'UA' 'AE' 'GB' 'US' 'UY' 'VE' 'VN']

In [36]:
# Mostra os valores únicos da coluna selecionadas
print(df_countries['category'].unique())

['Films' 'TV']

In [37]:
# Mostra os valores únicos da coluna selecionadas
print(df_countries['weekly_rank'].unique())

[ 1  2  3  4  5  6  7  8  9 10]

In [38]:
# Mostra os valores únicos da coluna selecionadas
print(df_countries['cumulative_weeks_in_top_10'].unique())

[  1   2   3   5   6   7   4  10   8  82  21  20  81  19  80  18  79  17
  78   9  16  15  14  77  13  76  25  12  24  75  11  23  74  22  73  72
  71  70  69  68  67  66  65  31  64  63  62  61  60  59  58  57  56  55
  54  30  53  29  52  28  51  27  26  50  49  48  47  46  45  44  43  42
  41  40  39  38  37  36  35  34  33  32  83  93  92  91  90  89  88  87
  86  85  84 102 101 100  99  98  97  96  95  94 113 112 111 110 109 108
 107 106 105 104 103]

In [39]:
# Verificando se os dados são unicos na coluna selecionada
df_countries['show_title'].is_unique

False

In [40]:
# Calcula o númerod de títulos únicos na coluna
unique_countries_titles = df_countries['show_title'].nunique()
print(f"Número de títulos únicos é: {unique_countries_titles}")

Número de títulos únicos é: 7439

In [41]:
# Verificando se os dados são unicos na coluna selecionada
df_countries['season_title'].is_unique

False

In [42]:
# Calcula o númerod de títulos únicos na coluna
unique_countries_season = df_countries['season_title'].nunique()
print(f"Número de títulos de temporadas únicas é: {unique_countries_season}")

Número de títulos de temporadas únicas é: 2504

## Valores duplicados

In [43]:
# Mostra o número de registros (linhas)
df_countries.shape[0]

283420

In [44]:
# Verifica se há linhas duplicadas
df_countries.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
283415    False
283416    False
283417    False
283418    False
283419    False
Length: 283420, dtype: bool

## Valores ausentes e nulos

In [45]:
# Mostra a quantidade total de valores nulos em cada coluna do dataframe
df_countries.isna().sum()

country_name                       0
country_iso2                       0
week                               0
category                           0
weekly_rank                        0
show_title                         0
season_title                  144761
cumulative_weeks_in_top_10         0
dtype: int64

In [46]:
# Verifica o percentural de valores nulos
porcentagem_nulos = (df_countries.isna().sum() / len(df_countries)) * 100
print(round(porcentagem_nulos, 1))

country_name                   0.0
country_iso2                   0.0
week                           0.0
category                       0.0
weekly_rank                    0.0
show_title                     0.0
season_title                  51.1
cumulative_weeks_in_top_10     0.0
dtype: float64

In [47]:
# Faz uma cópia do dataset completo para ficar de backup
df_countries_completo = df_countries.copy()

# Exclui a coluna selecionda
df_countries.drop(columns=['season_title'], inplace=True)
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283420 entries, 0 to 283419
Data columns (total 7 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   country_name                283420 non-null  object
 1   country_iso2                283420 non-null  object
 2   week                        283420 non-null  object
 3   category                    283420 non-null  object
 4   weekly_rank                 283420 non-null  int64
 5   show_title                  283420 non-null  object
 6   cumulative_weeks_in_top_10  283420 non-null  int64
dtypes: int64(2), object(5)
memory usage: 15.1+ MB

## Tradução

Renomeando as colunas do dataframe.

In [48]:
# Renomea as colunas para tradução, padronização e melhor entendimento
df_countries.rename(columns={
    'country_name': 'nome_pais',
    'country_iso2':'iso_pais',
    'week': 'semana',
    'category': 'categoria',
    'weekly_rank': 'rank_semanal',
    'show_title': 'titulo',
    'cumulative_weeks_in_top_10' : 'semanas_acumuladas_top_10',
}, inplace=True)

df_countries.head()

,nome_pais,iso_pais,semana,categoria,rank_semanal,titulo,semanas_acumuladas_top_10
0,Argentina,AR,2024-05-26,Films,1,Sing 2,1
1,Argentina,AR,2024-05-26,Films,2,Atlas,1
2,Argentina,AR,2024-05-26,Films,3,Ice Age: Dawn of the Dinosaurs,1
3,Argentina,AR,2024-05-26,Films,4,In Good Hands 2,1
4,Argentina,AR,2024-05-26,Films,5,Daddy Daughter Trip,2

## Tipagem

In [49]:
# Convertendo o tipo de dado para datetime
df_countries['semana'] = pd.to_datetime(df_countries.semana)

df_countries.dtypes

nome_pais                            object
iso_pais                             object
semana                       datetime64[ns]
categoria                            object
rank_semanal                          int64
titulo                               object
semanas_acumuladas_top_10             int64
dtype: object

## Novas variáveis

In [50]:
# Seleciona o ano e mes da variável data
df_countries['ano'] = df_countries['semana'].dt.year
df_countries['mes'] = df_countries['semana'].dt.month

df_countries.head()

,nome_pais,iso_pais,semana,categoria,rank_semanal,titulo,semanas_acumuladas_top_10,ano,mes
0,Argentina,AR,2024-05-26,Films,1,Sing 2,1,2024,5
1,Argentina,AR,2024-05-26,Films,2,Atlas,1,2024,5
2,Argentina,AR,2024-05-26,Films,3,Ice Age: Dawn of the Dinosaurs,1,2024,5
3,Argentina,AR,2024-05-26,Films,4,In Good Hands 2,1,2024,5
4,Argentina,AR,2024-05-26,Films,5,Daddy Daughter Trip,2,2024,5

In [51]:
# Cria o dicionário para fazer a correspondência de valores, conforme definido abaixo
meses = {
    1: 'janeiro',
    2: 'fevereiro',
    3: 'março',
    4: 'abril',
    5: 'maio',
    6: 'junho',
    7: 'julho',
    8: 'agosto',
    9: 'setembro',
    10: 'outubro',
    11: 'novembro',
    12: 'dezembro'
}

# Mapea todos campos da coluna, tendo como parâmetro a dicionário criado acima
df_countries.mes = df_countries.mes.map(meses)
df_countries.mes

0          maio
1          maio
2          maio
3          maio
4          maio
          ...
283415    julho
283416    julho
283417    julho
283418    julho
283419    julho
Name: mes, Length: 283420, dtype: object

## Integridade dos dados

In [52]:
# Define schema de validação
schema = pa.DataFrameSchema({
    'nome_pais': pa.Column(pa.String),
    'iso_pais': pa.Column(pa.String),
    'semana': pa.Column(pa.DateTime),
    'categoria': pa.Column(pa.String),
    'rank_semanal': pa.Column(pa.Int),
    'titulo': pa.Column(pa.String),
    'semanas_acumuladas_top_10': pa.Column(pa.Int),
    'ano': pa.Column(pa.Int32),
    'mes': pa.Column(pa.String)
})

# Validar o dataframe
schema.validate(df_countries)

,nome_pais,iso_pais,semana,categoria,rank_semanal,titulo,semanas_acumuladas_top_10,ano,mes
0,Argentina,AR,2024-05-26,Films,1,Sing 2,1,2024,maio
1,Argentina,AR,2024-05-26,Films,2,Atlas,1,2024,maio
2,Argentina,AR,2024-05-26,Films,3,Ice Age: Dawn of the Dinosaurs,1,2024,maio
3,Argentina,AR,2024-05-26,Films,4,In Good Hands 2,1,2024,maio
4,Argentina,AR,2024-05-26,Films,5,Daddy Daughter Trip,2,2024,maio
...,...,...,...,...,...,...,...,...,...
283415,Vietnam,VN,2021-07-04,TV,6,Reply 1988,1,2021,julho
283416,Vietnam,VN,2021-07-04,TV,7,"Nevertheless,",1,2021,julho
283417,Vietnam,VN,2021-07-04,TV,8,Too Hot to Handle,1,2021,julho
283418,Vietnam,VN,2021-07-04,TV,9,Record of Ragnarok,1,2021,julho
283419,Vietnam,VN,2021-07-04,TV,10,Crash Landing on You,1,2021,julho

## Visão geral dos dados de Usuário do Neflix

In [53]:
# Mostra todas as colunas do dataframe
df_users.columns

Index(['User ID', 'Subscription Type', 'Monthly Revenue', 'Join Date',
       'Last Payment Date', 'Country', 'Age', 'Gender', 'Device',
       'Plan Duration'],
      dtype='object')

In [54]:
# Mostra um resumo conciso do dataframe
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User ID            2500 non-null   int64
 1   Subscription Type  2500 non-null   object
 2   Monthly Revenue    2500 non-null   int64
 3   Join Date          2500 non-null   object
 4   Last Payment Date  2500 non-null   object
 5   Country            2500 non-null   object
 6   Age                2500 non-null   int64
 7   Gender             2500 non-null   object
 8   Device             2500 non-null   object
 9   Plan Duration      2500 non-null   object
dtypes: int64(3), object(7)
memory usage: 195.4+ KB

In [55]:
# Mostra um resumo do dataframe, com os 5 primeiros e últimos registros e total de linhas e colunas
df_users

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Premium,14,25-07-22,12-07-23,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,04-08-22,14-07-23,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,09-08-22,15-07-23,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,12-08-22,12-07-23,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,13-08-22,12-07-23,United States,35,Female,Smart TV,1 Month

## Valores únicos

In [59]:
# Verificando se os dados são únicos na coluna selecionada
df_users['User ID'].is_unique

True

In [56]:
# Mostra os valores únicos das colunas categricas selecionadas
print(df_users['Subscription Type'].unique())
print(df_users['Country'].unique())
print(df_users['Gender'].unique())
print(df_users['Device'].unique())
print(df_users['Plan Duration'].unique())

['Basic' 'Premium' 'Standard']
['United States' 'Canada' 'United Kingdom' 'Australia' 'Germany' 'France'
 'Brazil' 'Mexico' 'Spain' 'Italy']
['Male' 'Female']
['Smartphone' 'Tablet' 'Smart TV' 'Laptop']
['1 Month']

In [57]:
# Mostra os valores únicos da coluna selecionadas
print(df_users['Age'].unique())

[28 35 42 51 33 29 46 39 37 44 31 45 48 27 38 36 30 43 32 41 26 34 49 40
 47 50]

In [58]:
# Mostra os valores únicos da coluna selecionadas
print(df_users['Monthly Revenue'].unique())

[10 15 12 13 11 14]

In [60]:
# Mostra os valores únicos da coluna selecionadas
print(df_users['Monthly Revenue'].unique())

[10 15 12 13 11 14]

## Valores duplicados

Verificando a existência de registros duplicados.

In [61]:
# Mostra o número de registros (linhas)
df_users.shape[0]

2500

In [62]:
# Verifica se há linhas duplicadas
df_users.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2495    False
2496    False
2497    False
2498    False
2499    False
Length: 2500, dtype: bool

## Valores ausentes e nulos

Verificando a existência de registros ausentes e nulos.

In [63]:
# Mostra a quantidade total de valores nulos em cada coluna do dataframe
df_users.isnull().sum()

User ID              0
Subscription Type    0
Monthly Revenue      0
Join Date            0
Last Payment Date    0
Country              0
Age                  0
Gender               0
Device               0
Plan Duration        0
dtype: int64

## Tradução

Renomeando as colunas e campos de registros do datraframe.

In [64]:
# Renomea as colunas para tradução, padronização e melhor entendimento
df_users.rename(columns={
    'User ID': 'id_usuario',
    'Subscription Type': 'tipo_assinatura',
    'Monthly Revenue':'receita_mensal',
    'Join Date': 'data_afiliacao',
    'Last Payment Date': 'data_ultimo_pg',
    'Country': 'pais',
    'Age': 'idade',
    'Gender': 'genero',
    'Device': 'dispositivo',
    'Plan Duration': 'plano'
}, inplace=True)

# Mostra as 5 primeiras linhas do dataframe ou a quantidade informada como parâmetro
df_users.head()

,id_usuario,tipo_assinatura,receita_mensal,data_afiliacao,data_ultimo_pg,pais,idade,genero,dispositivo,plano
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [65]:
# Cria o dicionário para fazer a correspondência de valores, conforme definido abaixo
traducao_plano = {'1 Month': 'Month'}

# Mapea todos campos da coluna, tendo como parâmetro a dicionário criado acima
df_users.plano = df_users.plano.map(traducao_plano)
df_users.plano

0       Month
1       Month
2       Month
3       Month
4       Month
        ...
2495    Month
2496    Month
2497    Month
2498    Month
2499    Month
Name: plano, Length: 2500, dtype: object

## Tipagem

Verificando os tipos dos dados e fazendo a conversão necessárias.

In [66]:
# Converte o tipo de dados de int para str
df_users['id_usuario'] = df_users['id_usuario'].astype(str)

In [67]:
# Converte o tipo de dado para datetime aaaa-mm-dd hh:mm:ss
df_users['data_afiliacao'] = pd.to_datetime(df_users['data_afiliacao'])
df_users['data_ultimo_pg'] = pd.to_datetime(df_users['data_ultimo_pg'])

# Mostra os tipos de variáveis de cada coluna
df_users.dtypes

/var/folders/p3/7_d0kld923vggjh80yjty_080000gn/T/ipykernel_3996/67907589.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_users['data_afiliacao'] = pd.to_datetime(df_users['data_afiliacao'])
/var/folders/p3/7_d0kld923vggjh80yjty_080000gn/T/ipykernel_3996/67907589.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_users['data_ultimo_pg'] = pd.to_datetime(df_users['data_ultimo_pg'])

id_usuario                 object
tipo_assinatura            object
receita_mensal              int64
data_afiliacao     datetime64[ns]
data_ultimo_pg     datetime64[ns]
pais                       object
idade                       int64
genero                     object
dispositivo                object
plano                      object
dtype: object

## Novas variáveis

Criando novas variáveis para ajudar na análise.

In [68]:
# Módulo para manipulação de datas e horas
from dateutil.relativedelta import relativedelta

# Cria uma função para calcular o tempo como cliente
def diferenca(row):
    delta = relativedelta(row['data_ultimo_pg'], row['data_afiliacao'])
    return delta.years

# Aplica a função criada acima ao dataframe
df_users['anos_como_cliente'] = df_users.apply(diferenca, axis=1)

df_users.head()

,id_usuario,tipo_assinatura,receita_mensal,data_afiliacao,data_ultimo_pg,pais,idade,genero,dispositivo,plano,anos_como_cliente
0,1,Basic,10,2022-01-15,2023-10-06,United States,28,Male,Smartphone,Month,1
1,2,Premium,15,2021-05-09,2023-06-22,Canada,35,Female,Tablet,Month,2
2,3,Standard,12,2023-02-28,2023-06-27,United Kingdom,42,Male,Smart TV,Month,0
3,4,Standard,12,2022-10-07,2023-06-26,Australia,51,Female,Laptop,Month,0
4,5,Basic,10,2023-01-05,2023-06-28,Germany,33,Male,Smartphone,Month,0

In [69]:
# Seleciona o mês da variável data
df_users['mes_afiliacao'] = df_users.data_afiliacao.dt.month
df_users['mes_ultimo_pg'] = df_users.data_ultimo_pg.dt.month

# Cria o dicionário para fazer a correspondência de valores, conforme definido abaixo
meses = {
    1: 'janeiro',
    2: 'fevereiro',
    3: 'março',
    4: 'abril',
    5: 'maio',
    6: 'junho',
    7: 'julho',
    8: 'agosto',
    9: 'setembro',
    10: 'outubro',
    11: 'novembro',
    12: 'dezembro'
}

In [70]:
# Mapea todos campos da coluna, tendo como parâmetro a dicionário criado acima
df_users.mes_afiliacao = df_users.mes_afiliacao.map(meses)
df_users.mes_afiliacao

0         janeiro
1            maio
2       fevereiro
3         outubro
4         janeiro
          ...
2495        julho
2496        abril
2497     setembro
2498     dezembro
2499       agosto
Name: mes_afiliacao, Length: 2500, dtype: object

In [71]:
# Mapea todos campos da coluna, tendo como parâmetro a dicionário criado acima
df_users.mes_ultimo_pg = df_users.mes_ultimo_pg.map(meses)
df_users.mes_ultimo_pg

0        outubro
1          junho
2          junho
3          junho
4          junho
          ...
2495    dezembro
2496       julho
2497       julho
2498    dezembro
2499    dezembro
Name: mes_ultimo_pg, Length: 2500, dtype: object

In [72]:
# Mostra os tipos de variáveis de cada coluna
df_users.dtypes

id_usuario                   object
tipo_assinatura              object
receita_mensal                int64
data_afiliacao       datetime64[ns]
data_ultimo_pg       datetime64[ns]
pais                         object
idade                         int64
genero                       object
dispositivo                  object
plano                        object
anos_como_cliente             int64
mes_afiliacao                object
mes_ultimo_pg                object
dtype: object

## Integridade dos dados

Garantindo a qualidade e integridade dos dados.

In [73]:
# Define schema de validação
schema = pa.DataFrameSchema({
    'id_usuario': pa.Column(pa.String),
    'tipo_assinatura': pa.Column(pa.String),
    'receita_mensal': pa.Column(pa.Int),
    'data_afiliacao': pa.Column(pa.DateTime),
    'data_ultimo_pg': pa.Column(pa.DateTime),
    'pais': pa.Column(pa.String),
    'idade': pa.Column(pa.Int),
    'genero': pa.Column(pa.String),
    'dispositivo': pa.Column(pa.String),
    'plano': pa.Column(pa.String),
    'anos_como_cliente': pa.Column(pa.Int),
    'mes_afiliacao': pa.Column(pa.String),
    'mes_ultimo_pg': pa.Column(pa.String)
    })

In [74]:
# Validar o dataframe
schema.validate(df_users)

,id_usuario,tipo_assinatura,receita_mensal,data_afiliacao,data_ultimo_pg,pais,idade,genero,dispositivo,plano,anos_como_cliente,mes_afiliacao,mes_ultimo_pg
0,1,Basic,10,2022-01-15,2023-10-06,United States,28,Male,Smartphone,Month,1,janeiro,outubro
1,2,Premium,15,2021-05-09,2023-06-22,Canada,35,Female,Tablet,Month,2,maio,junho
2,3,Standard,12,2023-02-28,2023-06-27,United Kingdom,42,Male,Smart TV,Month,0,fevereiro,junho
3,4,Standard,12,2022-10-07,2023-06-26,Australia,51,Female,Laptop,Month,0,outubro,junho
4,5,Basic,10,2023-01-05,2023-06-28,Germany,33,Male,Smartphone,Month,0,janeiro,junho
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,Premium,14,2022-07-25,2023-12-07,Spain,28,Female,Smart TV,Month,1,julho,dezembro
2496,2497,Basic,15,2022-04-08,2023-07-14,Spain,33,Female,Smart TV,Month,1,abril,julho
2497,2498,Standard,12,2022-09-08,2023-07-15,United States,38,Male,Laptop,Month,0,setembro,julho
2498,2499,Standard,13,2022-12-08,2023-12-07,Canada,48,Female,Tablet,Month,0,dezembro,dezembro
2499,2500,Basic,15,2022-08-13,2023-12-07,United States,35,Female,Smart TV,Month,1,agosto,dezembro

# CARREGAMENTO

Armazenados dos dados tratados na BigQuery.

In [ ]:
# Importa a bibliotecas para autenticação do usuário no Google Colab
from google.colab import auth
auth.authenticate_user()

In [ ]:
# Importa a bibliotecas para interagir com o BigQuery
from google.cloud import bigquery

In [ ]:
# Biblioteca com complementos para o Pandas interagir diretamente com o BigQuery
import pandas_gbq

In [ ]:
# Define o projeto, conjunto de dados e tabela para acesso
project_id = ''
dataset_id = ''
table_id = ''

In [ ]:
# Carrega o dataframe modificado de volta para o BigQuery
pandas_gbq.to_gbq(
    df,
    f'',
    project_id=project_id,
    if_exists='replace'
)

# ANÁLISE